body {
    margin: auto;
}

:root {
    --primary-color: #965579;
}

header {
    margin: px;
    background: var(--primary-color);
    text-align: center;
}

header h1 {
    margin: 0px;
}

#header a {
    color: whitesmoke;
}

nav {
    background: var(--primary-color);
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

nav #string {
    height: inherit;
}

#navBar #stringBox {
    margin-left: 20px;
    width: 200px;
    height: 30px;
    border-radius: 5px;
}

#navBar #stringBox:hover {
    transition: ease-in 300ms;
    margin-left: 20px;
    width: 200px;
    height: 30px;
    background-color: #ffffff;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
}

.btn {
    transition: ease-in 100ms;
    width: 100px;
    height: 35px;
    background-color: rgb(197, 197, 197);
    border-radius: 5px;
    outline: none;
}

.btn:hover {
    transition: ease-out 100ms;
    cursor: pointer;
    background-color: rgb(238, 236, 231);
    border-radius: 5px;
    outline: none;
}

#navBar a {
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
    padding: 20px;
    margin-top: 0px;
}

#navBar #icons {
    position: fixed;
    left: 0;
    margin-left: -15px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 100vh;
    background: var(--primary-color);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: var(--primary-color);
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}

#navBar a {
    transition: ease-out 100ms;
    text-decoration: none;
    font: 21px;
    color: ivory;
}

#navBar a:hover {
    transition: ease-in 100ms;
    font: 20px;
    color: rgb(15, 15, 15);
}

.content {
    padding: 10px;
    width: 25%;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    background-color: var(--primary-color);
}

.fieldString {
    display: inline-flexbox;
    margin-left: 25px;
    border-radius: 5px;
    margin: 10px;
    width: 400px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
}

#root {
    text-align: center;
    height: 100vh;
    background-color: var(--primary-color);
}